<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="shortcut icon" href="#">
    </head>

    <body>

        <div class='jumbotron container'>
            <h1 id='tooltip'>Please Select or Create a Room (Max 5 Rooms)</h1><br>
            <ul>
                {% for x in lobbies %}
                    <li><button><a href="#" id="{{ x }}">{{ x }}</a></button></li>
                {% endfor %}
            </ul>

            <input id="room-name-input" type="text" size="100"><br>
            <input id="room-name-submit" type="button" value="Enter">

            <div id='full_lobby'></div>
        </div>

        <script type="text/javascript" src='{% static "js/url_parsing.js" %}'></script>

        <script>
            function getUser(){
                let user = null;
                const queryString = window.location.search;
                if ( queryString.length > 0 ){
                    const urlParams = new URLSearchParams(queryString);
                    user = urlParams.get('username');
                }
                window.history.pushState("", "", 'http://127.0.0.1:8000/lobby/');
                return user;
            };

            function cleanRoomName(roomName){

                roomName = roomName.split(' ').join('_');
                roomName = roomName.split('/').join('');
                roomName = roomName.split("'").join('');
                roomName = roomName.split('"').join('');
                roomName = roomName.split(':').join('');
                roomName = roomName.split('.').join('');
                roomName = roomName.split(',').join('');
                roomName = roomName.split('<').join('');
                roomName = roomName.split('>').join('');
                roomName = roomName.split('?').join('');
                roomName = roomName.split(';').join('');
                roomName = roomName.split('[').join('');
                roomName = roomName.split(']').join('');
                roomName = roomName.split('{').join('');
                roomName = roomName.split('}').join('');
                roomName = roomName.split('|').join('');
                roomName = roomName.split('+').join('');
                roomName = roomName.split('=').join('');
                roomName = roomName.split('-').join('');
                roomName = roomName.split('(').join('');
                roomName = roomName.split(')').join('');
                roomName = roomName.split('*').join('');
                roomName = roomName.split('&').join('');
                roomName = roomName.split('^').join('');
                roomName = roomName.split('%').join('');
                roomName = roomName.split('$').join('');
                roomName = roomName.split('#').join('');
                roomName = roomName.split('@').join('');
                roomName = roomName.split('!').join('');
                roomName = roomName.split('~').join('');
                roomName = roomName.split('`').join('');

                return roomName;
            }

            $(document).ready(function() {
                $('a').on('click', function(e) {
                    var roomName = e.currentTarget.id;
                    var masterSlave = 'slave';
                    var userName = getUser();
                    window.location.replace('/lobby/' + roomName + '/?username='+userName+'&mors='+masterSlave);
                });
            });

            if ($('li').length == 5) {

                // $("#room-name-input").remove();
                // $("#room-name-submit").remove();
                // $("#full_lobby").html('<h3>(Lobby is full, please wait until a connection closes to make a new room.)</h3>');
                // $("#tooltip").html("Please Select a Room");

                document.querySelector('#room-name-input').focus();
                document.querySelector('#room-name-input').onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#room-name-submit').click();
                    }
                };

                document.querySelector('#room-name-submit').onclick = function(e) {
                    var unclean_name = document.querySelector('#room-name-input').value;

                    roomName = cleanRoomName(unclean_name);

                    var masterSlave = 'master';
                    var userName = getUser();
                    updateLobby(roomName);
                    window.location.replace('/lobby/' + roomName + '/?username=' + userName + '&mors=' + masterSlave);
                };
            }

            else if ($('li').length == 0){
                $('#tooltip').html('Please Create a Room (Max 5 Rooms)');
                $('#full_lobby').html('<br><h3>(Lobby is empty, please create a room or wait until one is created)</h3>');

                document.querySelector('#room-name-input').focus();
                document.querySelector('#room-name-input').onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#room-name-submit').click();
                    }
                };

                document.querySelector('#room-name-submit').onclick = function(e) {
                    var unclean_name = document.querySelector('#room-name-input').value;

                    roomName = cleanRoomName(unclean_name);

                    var masterSlave = 'master';
                    var userName = getUser();
                    updateLobby(roomName);
                    window.location.replace('/lobby/' + roomName + '/?username=' + userName + '&mors=' + masterSlave);
                };
            }

            else {
                //console.log('less than 5 rooms')
                document.querySelector('#room-name-input').focus();
                document.querySelector('#room-name-input').onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#room-name-submit').click();
                    }
                };

                document.querySelector('#room-name-submit').onclick = function(e) {
                    var unclean_name = document.querySelector('#room-name-input').value;

                    roomName = cleanRoomName(unclean_name);

                    var masterSlave = 'master';
                    var userName = getUser();
                    updateLobby(roomName);
                    window.location.replace('/lobby/' + roomName + '/?username=' + userName + '&mors=' + masterSlave);
                };
            }

        </script>
    </body>

</html>
