<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <meta charset="utf-8"/>
        <title>Chat Room</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="shortcut icon" href="#">
    </head>

    <body>
        <p id='results'></p>
        <div class="container jumbotron">
            <h1>Now Playing:</h1>
        </div>
        <div id='artist_image' class='container'></div>
        {{ room_name|json_script:"room-name" }}

        <p id='test'></p>

        <script type="text/javascript" src='{% static "js/url_parsing.js" %}'></script>

        <script type="text/javascript" src='{% static "js/app_apis.js" %}'></script>

        <script>

            let params = getParams();
            let master_slave = params['master_slave'];
            let token = "{{ token }}";
            let username = params['username'];
            let roomName = JSON.parse(document.getElementById('room-name').textContent);
            let old_comparison = null;
            let prev_activity_comparison = null;

            async function startListening(){
                const setup = async () => {
                    const webSocket = await createSocket(roomName, token, master_slave);
                    return webSocket;
                }
                
                const masterApiCall = async (apiSocket) => {
                    if (master_slave == 'master'){

                        var track_info = await currentplayInfo(token);

                        if (track_info != null){
                            document.getElementById('artist_image').innerHTML = await '<img src="' + track_info['image_url'] + '"><div class="jumbotron"><h1>' + track_info['song_name'] + '</h1><h2>' + track_info['artist_name'] + '</h2></div>';
                        }

                        else{
                            console.log('NULL: CHECK REST OF SOCKET USERS TO SEE EFFECT');
                        }

                        var new_comparison = track_info;

                        if (old_comparison != null && new_comparison != null){
                            if (new_comparison['album'] === old_comparison['album'] && new_comparison['track_num'] === old_comparison['track_num']){
                                console.log('');
                                var assurance_packet = 'master_present';
                                await apiSocket.send(JSON.stringify({
                                    'message':assurance_packet
                                }));
                            }
                            else {
                                console.log('Song change - sending to rest of socket');
                                await apiSocket.send(JSON.stringify({
                                    'message':track_info
                                }));
                            }
                        }

                        old_comparison = new_comparison;
                        
                        setTimeout(async () => {
                            $('#test').html(Math.random());
                            await masterApiCall(apiSocket);
                        },1000);
                    }

                    if (master_slave == 'slave'){
                        setTimeout(async () => {

                            var activity_comparison = $('#test').html();
                            if (activity_comparison != prev_activity_comparison){
                                console.log('master present, keep playing');
                            }
                            if (activity_comparison == prev_activity_comparison){
                                console.log('master disconnected');
                                await apiSocket.close();
                                await $.ajax({
                                    url : 'room_delete/', //the endpoint
                                    type : 'POST',
                                    data : {
                                        username:username
                                    },

                                    //successful response handling
                                    success : function(json) {
                                        console.log('success');
                                        window.location.href = json['url'];
                                    },

                                    //bad response handling
                                    error : function(xhr,errmsg,err) {
                                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg + " <a href='#' class='close'>&times;</a></div>");
                                        console.log(xhr.status + ": " + xhr.responseText);
                                    }
                                });
                            }
                            prev_activity_comparison = activity_comparison;
                            await masterApiCall(apiSocket);
                        },5000);
                    }
                }

                let apiSocket = await setup();
                await masterApiCall(apiSocket);
            };

            startListening();

        </script>

    </body>

</html>


<!-- block #1 -->
<!-- // let active_device = await currentdeviceInfo(token);

    // let master_api_data = {
    //     'context_uri' : new_comparison['album'],
    //     'offset': {
    //         'position': new_comparison['track_num'] -1
    //     },
    //     'position_ms': 0
    // };
                
    // await fetch(PLAY + "?device_id=" + active_device, {
    //     method: "PUT",
    //     headers: {
    //         'Content-Type' : 'application/json',
    //         'Authorization' : 'Bearer ' + token
    //     },
    //     body: JSON.stringify(master_api_data)
    // }); -->